[Unit]
Description=Démarre le live à 7h00 et 19h00 chaque jour

[Timer]
OnCalendar=*-*-* 07:00:00
OnCalendar=*-*-* 19:00:00
Persistent=false
AccuracySec=1min

[Install]
WantedBy=timers.target
