[Unit]
Description=Démarre le livestream (déclenché par livestream-start.timer)

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start livestream.service
