[Unit]
Description=Arrête le live à 11h00 et à minuit chaque jour

[Timer]
OnCalendar=*-*-* 11:00:00
OnCalendar=*-*-* 00:00:00
Persistent=false
AccuracySec=1min

[Install]
WantedBy=timers.target
